/coc/*
!/coc/extensions/
/coc/extensions/*
!/coc/extensions/package.json
/configstore
!/ctags
/dropbox_uploader
/exercism/
/firebase
/fish/conf.d/secrets.fish
/fish/fish_variables
/fish/fishd.*
/fish/fisher
/fisher
/gatsby/
/gcloud/
/git/credentials.gitconfig
/gh/
/hub
/karabiner/automatic_backups/
/lab.hcl
/mac-cli/
/maildir
/mps
/mps-youtube
/nvim/.netrwhist
/thefuck/__pycache__/
