/configstore
/dropbox_uploader
/fish/fish_variables
/fisherman
/hub
/maildir
/mps
/mps-youtube
!/ctags
/lab.hcl
/exercism/
/karabiner/automatic_backups/
/mac-cli/
/coc/*
!/coc/extensions/
/coc/extensions/*
!/coc/extensions/package.json
